// assets/styles/layout/_sidebar.scss
.sidebar {
  color: white;
  width: $sidebar-width;
  height: 100%;
  position: relative;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;

  &__icon {
    display: flex;
    padding: 10px;
    &--expand {
      justify-content: flex-end;
    }
    &--collapse {
      justify-content: center;
    }
  }
}
