// assets/styles/_variables.scss
$primary-color: #040404;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #343a40;
$sidebar-width: 200px;
$header-height: 90px;
$main-padding: 2rem;
