.main-container {
  display: flex;
  gap: 10px;
  height: calc(100vh - $header-height - $main-padding * 2);

  .dashboard {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .inquiry {
      @include dashboard-inner;
      flex: 1;
      .inquiry-title {
        padding: 10px;
      }
    }

    .office {
      @include dashboard-inner;
      flex: 3;
      .office-title {
        padding: 10px;
      }
      .office-card-container {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;

        .office-card {
          width: 200px;
          height: 100px;
        }
      }
    }
  }

  .side-dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .inquiry {
      @include dashboard-inner;
      flex: 1;
    }
    .emergency-notice {
      @include dashboard-inner;
      flex: 1;
    }
    .banner {
      @include dashboard-inner;
      flex: 3;
    }
  }
}
